.about-container {
  min-height: calc(100vh - 100px);

  h2 {
    display: flex;
    align-items: center;
  }

  .section-container {
    .ci-icon {
      position: relative;
      display: table-cell;
      padding: 0 10px 5px 0;
      width: 44px;
    }

    @media screen and (max-width: 768px) {
      padding: 10px 30px;
    }
    padding: 10px 70px;
    .section-body {
      position: relative;
      @media screen and (max-width: 768px) {
        padding-left: 30px;
      }
      padding-left: 60px;
      h4,
      h5 {
        margin: 0px;
        margin-bottom: 5px;
      }
    }
  }

  .dot-style-light {
    color: #2a2135;
    text-shadow: #2a2135 0 0 5px;
  }

  .dot-style-dark {
    color: #fbf4ff;
    text-shadow: #fbf4ff 0 0 5px;
  }

  .dot-style:before {
    content: "•";
    margin: 0 10px;
    position: relative;
    left: -30px;
    top: 17px;
  }

  .programming-skills-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 769px) {
      padding-left: 30px !important;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0px !important;
    }
    .skill-box {
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 27px;
      padding: 2px 10px;
      margin-left: 10px;
      margin-bottom: 10px;

      p {
        font-size: 18px;
        padding-left: 5px;
        font-weight: 500;
      }
      .icon {
        font-size: 26px;
        margin-top: 10px;
      }
    }
  }

  .blog-posts-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 769px) {
      padding-left: 30px !important;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0px !important;
    }

    .blog-post-card {
      width: 300px;
      height: 250px;
      border-radius: 10px;
      margin: 10px;

      .thumbnail-image {
        width: 300px;
        height: 125px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .blog-title {
        font-size: 15px;
        padding: 20px;
      }
    }
  }
}
