.mobile-header { 

  @media screen and (min-width: 769px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

  .hamburger-container {
    width: 40px;
    padding:10px;

    .hamburger-item {
      height: 3px;
      border-radius: 3px;
      margin: 5px;
    }
  }
}



.sidebar-container {
  @media screen and (min-width: 769px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }

  z-index: 1; 
  height: 100%;
  transition: 0.1s;
  position: fixed;
  top:0px;

  &.show {
    width: 200px;
    visibility: visible;
  }

  &.hide {
    width: 0px;
    visibility: hidden;
  }

  .side-bar-content {
    padding: 20px;

    .close-button {
      font-size: 22px;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        padding: 5px;
        cursor: pointer;
      }

      .selected {
        font-size: 18px;
      }
    }
  }
}
